.section {
  padding: 8rem 0;

  &__title {
    color: #111111;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
    letter-spacing: -1.44px;
    margin-bottom: 3rem;
  }
}
